body{
margin: 0;
}


/* Header and nav bar */

#navbar{
  background-color: white;
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
  box-sizing: border-box;
  position: fixed;
}

#logo > img{
width: 40px;
height: 40px;
}

#menu-list{
 list-style: none;
}

.menu-items{
 display: inline-block;
 padding: 20px 15px;
 font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

#dropdown-menu{
 display: none;
 position: absolute;
 width: 180px;
 height: 120px;
 font-family: 'Poppins', sans-serif;
  border-top: 2px solid rgb(170, 210, 54);
  background-color: white;
  box-shadow: 0 2px 5px #ccc;
  right: 15px;
}

#dropdown-list{
 list-style: none;
 padding:0 ;
 
}

.dropdown-items{
 width: 55%;
 font-weight: 400;
 font-size: 16px;
 margin-left: 20px;
 padding: 10px 40px 2px 5px;
}

.dropdown-items:not(:last-of-type){
 border-bottom: 1px solid #ccc ;
 
}

#dropdown{
 
 position: relative;
}

#dropdown:hover #dropdown-menu{
display: block;
}

#menu-list > button{
 margin-right: 30px;
 font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: rgb(170, 210, 54);
  padding: 9px 34px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

/* Section 1 */

#landing-wrapper{
 background-image: url("assets/landing-background.png");
 background-position: center;
 background-size: cover;
 text-align: center;

}

#content-wrapper1{
 padding: 300px;
}

#landing-wrapper > div > h1{
 margin: 0px;
 font-family: 'Poppins', sans-serif;
 font-size: 44px;
 font-weight: 600;
 letter-spacing: 8.8px;
 line-height: 1.2
}


#landing-wrapper> div > p {
 font-family: 'Poppins', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #8b8b99;

}


/* section 2 steps cards */

#step-card-wrapper{
  display: flex;
  text-align: center;
}

.step-cards{
  flex: 1;
  color: #fff;
  padding: 100px 50px;
}

.step-cards > i{
  font-size: 96px;
  transition: all 1s;
}

.step-cards:hover i{
  transform: scale(1.1,1.1);
}

.step-cards > h3{
  font-family: 'Poppins', sans-serif ;
  font-weight: 600;
  font-size: 24px;
}

.step-cards > p{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

#step-1{
  background-color: #5acda6;
}

#step-2 {
  background-color: #91ac41;
}

#step-3 {
  background-color: #e4b476;
}

#step-4 {
  background-color: #f69dad;
}

/* section 3 feature cards */

#feature-wrapper{
  background-color: #f7eee2;
  padding: 0 400px;
}

#top-card{
  
  text-align: center;
}

#top-card > h4{
margin: 0;
padding-top: 100px;
color: #91ac41;
font-size: 24px;
font-family: 'Caveat', ursive;

}

#top-card > h1{
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

#top-card > p{
  font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-bottom: 80px;
}

#feature-flex{
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 80px;
}

.feature-cards{
  flex: 1;
}

.feature-cards > i{
  background-color: #e3b375;
  padding: 40px;
  font-size: 60px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s;
}

.feature-cards:hover i {
  transform: scale(1.1, 1.1);
}

.feature-cards > h3{
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
}

.feature-cards > p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #8b8b99;
}


/* section 4 testimonial cards */

#testimonial-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-cards{
  background-color: #f5f6fb;
  text-align: center;
  width: 255px;
  height: 300px;
  padding: 50px 40px;
  margin: 16px;
  border-radius: 45px 0px 45px 45px;
  transition: box-shadow 0.3s;
}

.testimonial-cards:hover{
  box-shadow: 0 12px 16px 0 rgb(39 39 47 / 6%);
}

.testimonial-cards > img{
  border-radius: 50%;
  width: 80px;
  margin: 0 0 25px;
}

.testimonial-cards > p{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-style: italic;
  color: #8b8b99;
}

.testimonial-cards > h4{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.testimonial-cards :nth-child(4){
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #8b8b99;
  font-style: italic;
  margin: 0;
}

#center-card{
  height: 260px ;
}

/* Section 5 subscribe us */

#subscribe-wrapper{
  margin-top: 80px;
}

#right-cover{
  background-image: url('assets/strawberry-white.png');
  background-position: left;
  background-size: cover;
  padding: 100px 60px 550px 90px;
  display: inline-block;
}

#follow-container{
  display: flex;
  
}

#background-img{
  width: 66.67%;
  background-image: url('assets/left-image.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
}

.subscribe-card{
  
  
}


.subscribe-card > h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  
}

.subscribe-card > p{
  font-family: 'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #8b8b99;
    
}

.subscribe-card > input {
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #8b8b99;
  width: 80%;
  font-weight: 400;
  margin: 40px 0px 0px;
 padding: 12px;
box-sizing: border-box;
}

.subscribe-card > button{
  box-sizing: border-box;
  margin: 16px 0px 0px;
  padding: 16px 42px;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 600;
  background-color: #f69dad;
  border-radius: 4px;
}

.subscribe-card>button:hover{
  color: #f69dad;
  border: 1px solid #f69dad;
  background-color: transparent;
  
}
